<!DOCTYPE html>
<html>
<head>
    <title>Audio Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="menu">
    <a href="/">Call Simulator</a>
    <a href="/upload">Upload Call Sample</a>
    <a href="/register">Register Call (coming soon)</a>
</div>

    <h2>Customer call - Simulator</h2>
    <ul>
        {% for file in files %}
        <li><a onclick="waiting()" href="{{ url_for('static', filename='play/' + file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>
    <p id="status" class="blinking"></p>
<script>
    function waiting()
    {
        document.getElementById('status').innerText = 'Analysing ...';
    }
</script>
</body>
</html>
